@tailwind base;
@tailwind components;
@tailwind utilities;

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-regular.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-regular.woff") format("woff");
}
/* pt-sans-italic - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-italic.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-italic.woff") format("woff");
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-700.woff") format("woff");
}
/* pt-sans-700italic - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-700italic.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-700italic.woff") format("woff");
}

html {
  font-family: "PT Sans", sans-serif;
  @apply min-h-screen bg-blue-50 leading-5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply m-0 px-3 pb-3 pt-1.5;
}

.block-header {
  @apply font-bold text-lg text-black mt-3;
}

.clickable {
  @apply relative;
  @apply focus:outline-none;
}

.clickable::before {
  content: "";
  z-index: -1;
  @apply duration-150 absolute w-full bg-blue-400 bg-opacity-30 h-1 bottom-0;
}

.clickable:hover::before,
.clickable:focus::before {
  @apply bg-opacity-30 bg-blue-500 h-3;
}
