@tailwind base;
@tailwind components;
@tailwind utilities;

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-regular.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-regular.woff") format("woff");
}
/* pt-sans-italic - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-italic.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-italic.woff") format("woff");
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-700.woff") format("woff");
}
/* pt-sans-700italic - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("./fonts/pt-sans-v12-latin_cyrillic-700italic.woff2") format("woff2"),
    url("./fonts/pt-sans-v12-latin_cyrillic-700italic.woff") format("woff");
}

html {
  font-family: "PT Sans", sans-serif;
  @apply min-h-screen bg-blue-50 leading-5;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply m-0 px-4 pb-4 pt-2;
}

.block-header {
  @apply font-bold text-lg text-black mt-3;
}

.clickable {
  @apply duration-150 h-5 border-b-2 border-blue-300 bg-blue-100 inline-block bg-opacity-50;
  @apply hover:border-blue-400 hover:bg-blue-200 hover:bg-opacity-70 hover:border-b-3;
  @apply focus:border-blue-400 focus:bg-blue-200 focus:bg-opacity-70 focus:outline-none focus:border-b-3;
}

.dialog {
  @apply fixed z-10 inset-0 overflow-y-auto flex items-center mx-4 flex justify-center;
}

.dialog-overlay {
  @apply fixed inset-0 bg-black opacity-30;
}

.dialog-content {
  @apply overflow-hidden transform bg-white shadow-xl p-4;
}
